* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
}

.heading h2 {
  font-size: 2.5rem;
  color: #333;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  flex: 1 1 calc(25% - 30px); /* Adjusted for 4 cards per row */
  padding: 20px;
  transition: transform 0.3s ease;
}

.box:hover {
  transform: translateY(-10px);
}

.box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.content {
  text-align: center;
  margin-top: 15px;
}

.content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.content p {
  /* text-align: justify; */
  /* text-justify: inter-word; Improved word spacing */
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 1.5;
  color: #666;
}

.content a.btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.content a.btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .box {
    flex: 1 1 100%;
  }
}
